openapi: 3.0.3
info:
  title: Meme Explorer API
  description: |
    RESTful API for meme discovery, user management, gamification, and analytics.
    
    ## Features
    - 🎯 Random meme discovery with smart algorithms
    - 📊 Trending and leaderboard systems
    - 🎮 Gamification with points, badges, and streaks
    - 🔍 Full-text search across memes
    - 👤 User profiles and collections
    - 🧪 A/B testing infrastructure
    - 📈 Comprehensive analytics
    
    ## Authentication
    Session-based authentication using HTTP-only cookies. Admin routes require elevated permissions.
    
  version: 2.0.0
  contact:
    name: Meme Explorer Team
    email: api@meme-explorer.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://meme-explorer.com
    description: Production server
  - url: https://staging.meme-explorer.com
    description: Staging server
  - url: http://localhost:4567
    description: Local development server

tags:
  - name: Public
    description: Publicly accessible endpoints
  - name: Authentication
    description: User authentication and session management
  - name: Memes
    description: Meme discovery and interactions
  - name: Users
    description: User profiles and collections
  - name: Gamification
    description: Points, badges, leaderboards, and achievements
  - name: Admin
    description: Administrative endpoints (auth required)
  - name: Health
    description: System health and monitoring

paths:
  /health:
    get:
      tags: [Health]
      summary: Basic health check
      description: Returns service health status for load balancers
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service unavailable
          
  /health/detailed:
    get:
      tags: [Health]
      summary: Detailed health check
      description: Returns comprehensive system health metrics
      operationId: getDetailedHealth
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponse'

  /random.json:
    get:
      tags: [Memes]
      summary: Get random meme
      description: Returns a random meme using intelligent selection algorithms
      operationId: getRandomMeme
      parameters:
        - name: category
          in: query
          description: Filter by category
          schema:
            type: string
            enum: [funny, wholesome, selfcare, dank, reaction]
        - name: exclude
          in: query
          description: Exclude meme IDs (comma-separated)
          schema:
            type: string
      responses:
        '200':
          description: Random meme returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meme'
        '404':
          description: No memes available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /trending.json:
    get:
      tags: [Memes]
      summary: Get trending memes
      description: Returns trending memes based on engagement metrics
      operationId: getTrendingMemes
      parameters:
        - name: period
          in: query
          description: Time period for trending calculation
          schema:
            type: string
            enum: [day, week, month, all]
            default: day
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Trending memes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingResponse'

  /search.json:
    get:
      tags: [Memes]
      summary: Search memes
      description: Full-text search across meme titles and metadata
      operationId: searchMemes
      parameters:
        - name: q
          in: query
          required: true
          description: Search query
          schema:
            type: string
            minLength: 1
        - name: category
          in: query
          description: Filter by category
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/signup:
    post:
      tags: [Authentication]
      summary: Create new account
      description: Register a new user account
      operationId: signupUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '200':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login
      description: Authenticate user and create session
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout
      description: End user session
      operationId: logoutUser
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /memes/{id}/save:
    post:
      tags: [Memes]
      summary: Save/unsave meme
      description: Toggle meme in user's saved collection
      operationId: saveMeme
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Save status toggled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /memes/{id}/react:
    post:
      tags: [Memes]
      summary: React to meme
      description: Add reaction (like, laugh, fire) to meme
      operationId: reactToMeme
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionRequest'
      responses:
        '200':
          description: Reaction recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionResponse'

  /leaderboard.json:
    get:
      tags: [Gamification]
      summary: Get leaderboard
      description: Returns user leaderboard with rankings
      operationId: getLeaderboard
      parameters:
        - name: period
          in: query
          description: Leaderboard period
          schema:
            type: string
            enum: [daily, weekly, monthly, all_time]
            default: all_time
        - name: limit
          in: query
          description: Number of users to return
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: Leaderboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardResponse'

  /admin/ab-testing/experiments:
    get:
      tags: [Admin]
      summary: List A/B experiments
      description: Get all A/B testing experiments
      operationId: listExperiments
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Experiments list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentsResponse'
        '403':
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags: [Admin]
      summary: Create A/B experiment
      description: Create new A/B testing experiment
      operationId: createExperiment
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExperimentRequest'
      responses:
        '201':
          description: Experiment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '403':
          description: Admin access required

  /admin/ab-testing/experiments/{name}/stats.json:
    get:
      tags: [Admin]
      summary: Get experiment statistics
      description: Returns statistical analysis of experiment results
      operationId: getExperimentStats
      security:
        - sessionAuth: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Experiment statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentStatsResponse'

  /metrics.json:
    get:
      tags: [Admin]
      summary: Get system metrics
      description: Returns comprehensive system performance metrics
      operationId: getMetrics
      security:
        - sessionAuth: []
      responses:
        '200':
          description: System metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '403':
          description: Admin access required

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: rack.session
      description: Session-based authentication using HTTP-only cookies

  schemas:
    Meme:
      type: object
      properties:
        id:
          type: integer
          example: 123
        title:
          type: string
          example: "Distracted Boyfriend"
        url:
          type: string
          format: uri
          example: "https://example.com/meme.jpg"
        category:
          type: string
          enum: [funny, wholesome, selfcare, dank, reaction]
        subreddit:
          type: string
          example: "memes"
        reddit_url:
          type: string
          format: uri
        views:
          type: integer
          example: 1543
        likes:
          type: integer
          example: 234
        source:
          type: string
          enum: [reddit, upload, api]
        created_at:
          type: string
          format: date-time

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, down]
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          properties:
            database:
              type: string
            redis:
              type: string
            sidekiq:
              type: string

    DetailedHealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, critical]
        checks:
          type: object
          properties:
            database:
              type: object
            redis:
              type: object
            sidekiq:
              type: object
        resources:
          type: object
          properties:
            threads:
              type: object
            memory:
              type: object

    TrendingResponse:
      type: object
      properties:
        memes:
          type: array
          items:
            $ref: '#/components/schemas/Meme'
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            total_pages:
              type: integer
            total_count:
              type: integer
            per_page:
              type: integer

    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Meme'
        query:
          type: string
        total_results:
          type: integer

    SignupRequest:
      type: object
      required:
        - email
        - username
        - password
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
        username:
          type: string
          pattern: '^[a-zA-Z0-9_]{3,20}$'
          example: "cool_user"
        password:
          type: string
          minLength: 8
          example: "SecurePass123!"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        user:
          type: object
          properties:
            id:
              type: integer
            username:
              type: string
            email:
              type: string

    SaveResponse:
      type: object
      properties:
        success:
          type: boolean
        saved:
          type: boolean
        message:
          type: string

    ReactionRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [like, laugh, fire]

    ReactionResponse:
      type: object
      properties:
        success:
          type: boolean
        reaction:
          type: string
        total_reactions:
          type: integer
        points_earned:
          type: integer

    LeaderboardResponse:
      type: object
      properties:
        leaderboard:
          type: array
          items:
            type: object
            properties:
              rank:
                type: integer
              username:
                type: string
              score:
                type: integer
              badges:
                type: array
                items:
                  type: string
              streak:
                type: integer
              level:
                type: integer
        updated_at:
          type: string
          format: date-time

    CreateExperimentRequest:
      type: object
      required:
        - name
        - variants
      properties:
        name:
          type: string
        description:
          type: string
        variants:
          type: object
          additionalProperties:
            type: number
            format: float
        active:
          type: boolean

    ExperimentsResponse:
      type: object
      properties:
        experiments:
          type: array
          items:
            $ref: '#/components/schemas/Experiment'

    Experiment:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        variants:
          type: object
        created_at:
          type: string
          format: date-time

    ExperimentResponse:
      type: object
      properties:
        success:
          type: boolean
        experiment:
          $ref: '#/components/schemas/Experiment'

    ExperimentStatsResponse:
      type: object
      properties:
        experiment:
          type: string
        stats:
          type: object
        winner:
          type: string
        significant:
          type: boolean

    MetricsResponse:
      type: object
      properties:
        performance:
          type: object
        cache:
          type: object
        database:
          type: object
        sidekiq:
          type: object

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string

    ValidationError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        field:
          type: string
        details:
          type: object

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
